

<ion-view view-title="Usage Analytics">
  <ion-content ng-controller="ChartCtrl">
  <!--  <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>-->


<canvas barchart legend=true options="options" data="chart" ></canvas>


<div class="usage-stats">
    <p>Last 3 months</p>
    <p>Area1 - {{area1usage}} times</p>
    <p>Area2 - {{area2usage}} times</p>
    <p>Area3 - {{area3usage}} times</p>
</div>
<p id="footer-analytics"><br>Recommended buying {{recplan}}</p>
<p id="saved">You save OMR {{amountsave}}</p>
  </ion-content>
}
}
}
}
</ion-view>
